A1Q1

In [2]:
def isIn(topLeft=(0,0), bottomRight=(0,0), point=(0,0)):
    if point[0] >= topLeft[0] and point[0] <= bottomRight[0] and point[1] >= topLeft[1] and point[1] <= bottomRight[1]:
        return True
    else:
        return False
    raise NotImplementedError()

In [3]:
isIn((1,2), (3,4), (1.5, 3.2))

True

In [4]:
isIn((-1,0), (5,5), (6,0))

False

In [5]:
isIn((0,0), (0,0), (0,0))

True

A1Q2

In [6]:
def allIn(topLeft=(0,0), bottomRight=(0,0), pointList=[]):
    for point in pointList:
        result = isIn(topLeft, bottomRight, point)
        if result == False:
            return False
            
    return True
    
    raise NotImplementedError()

In [7]:
allIn((1,2), (3,4), [(1.5, 3.2),(2.5, 2),(1.8,2.3),(2.4,4),(1,3.8)])

True

In [8]:
allIn((1,2), (3,4), [(1.5, 3.2),(2.5, 2),(3.8,2.3),(2.4,4),(1,3.8)])

False

In [9]:
allIn((0,0), (5,5), [(1,1), (0,0), (5,5)])

True

In [10]:
allIn((0,0), (5,5), [(1,1), (0,0), (5,6)])

False

A1Q3

In [11]:
from pandas import DataFrame
df = DataFrame({'col1': [1, 2, 3], 'col2': [4, 5, 6]})
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [12]:
# Write code to find the largest value in the DataFrame
def question3AFunction(input = df):
    return input.stack().max()
    raise NotImplementedError()
    
question3AFunction()

6

A1Q3B

In [13]:
s = 'AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC'

# Write the code to print out a list of four integers, which will represent the count
# of each of the symbols: 'A', 'C', 'G', and 'T'
def question3Function(input = s):
    # YOUR CODE HERE
    a, c, g, t = 0,0,0,0
    for item in input:
        if item == 'A':
            a += 1
        elif item == 'C':
            c += 1
        elif item == 'G':
            g += 1
        else:
            t += 1
    return [a, c, g, t]
    raise NotImplementedError()

In [14]:
question3Function()

[20, 12, 17, 21]

A1Q4

In [15]:
# Run this cell to create a dictionary of states' capitals
capitals={
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona':'Phoenix',
    'Arkansas':'Little Rock',
    'California': 'Sacramento',
    'Colorado':'Denver',
    'Connecticut':'Hartford',
    'Delaware':'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
    'Hawaii': 'Honolulu',
    'Idaho': 'Boise',
    'Illinios': 'Springfield',
    'Indiana': 'Indianapolis',
    'Iowa': 'Des Monies',
    'Kansas': 'Topeka',
    'Kentucky': 'Frankfort',
    'Louisiana': 'Baton Rouge',
    'Maine': 'Augusta',
    'Maryland': 'Annapolis',
    'Massachusetts': 'Boston',
    'Michigan': 'Lansing',
    'Minnesota': 'St. Paul',
    'Mississippi': 'Jackson',
    'Missouri': 'Jefferson City',
    'Montana': 'Helena',
    'Nebraska': 'Lincoln',
    'Neveda': 'Carson City',
    'New Hampshire': 'Concord',
    'New Jersey': 'Trenton',
    'New Mexico': 'Santa Fe',
    'New York': 'Albany',
    'North Carolina': 'Raleigh',
    'North Dakota': 'Bismarck',
    'Ohio': 'Columbus',
    'Oklahoma': 'Oklahoma City',
    'Oregon': 'Salem',
    'Pennsylvania': 'Harrisburg',
    'Rhoda Island': 'Providence',
    'South Carolina': 'Columbia',
    'South Dakota': 'Pierre',
    'Tennessee': 'Nashville',
    'Texas': 'Austin',
    'Utah': 'Salt Lake City',
    'Vermont': 'Montpelier',
    'Virginia': 'Richmond',
    'Washington': 'Olympia',
    'West Virginia': 'Charleston',
    'Wisconsin': 'Madison',
    'Wyoming': 'Cheyenne'  
}
# Write a function to return a list of all capitals that contain the name of a state in their name as a substring
# The list that is produced should include Kansas City and one other

In [16]:
len(capitals)

50

In [17]:
def state_in_capital_name(capitals):
    # YOUR CODE HERE
    my_list = []
    for key, value in capitals.items():
        if key in value:
            my_list.append(value)
    return my_list
    raise NotImplementedError()
    
state_in_capital_name(capitals)

['Indianapolis', 'Oklahoma City']

In [18]:
def s_in_all(capitals):
    c_list = []
    for value in capitals.values():
        for key in capitals.keys():
            if key in value:
                c_list.append(value)
    return list(set(c_list))
        

s_in_all(capitals)

['Indianapolis', 'Oklahoma City']